.idea

.env


# dependencies
/frontend/effilearn/node_modules
/frontend/effilearn/.pnp
/frontend/effilearn.pnp.js

# testing
/frontend/effilearn/coverage

# production
/frontend/effilearn/build

# misc
/frontend/effilearn.DS_Store
/frontend/effilearn.env.local
/frontend/effilearn.env.development.local
/frontend/effilearn.env.test.local
/frontend/effilearn.env.production.local

/frontend/effilearnnpm-debug.log*
/frontend/effilearnyarn-debug.log*
/frontend/effilearnyarn-error.log*